.cart-container{
    display: flex;
    align-items: center;
}

.cart-detail{
    display: flex;
}

.cart-amount{
    display: flex;
    flex-direction: column;
    background: #ed0909;
    border-radius: 0.8em;
    color: #fff;
    text-align: center;
    width: 22px;
    text-decoration: none; 
    margin-top: 1px;
}
