.container-product{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: flex-start;
    padding: 34px;
}

.img {
    height: 350px;
}



.btn-add-cart:hover{
    background-color: #8756bb !important;

}

.btn-back{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}

.btn-back-add:hover {
    background-color: #8756bb !important;
}