.container-product{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: flex-start;
    padding: 34px;
}

.img {
    height: 350px;
}


.btn-back{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}

/* se que no se utiliza el !important por lo general pero por estetica no le encontre otra forma  */

.btn-add-cart:hover{
    background-color: var(--tertiary-color-1) !important;

}

.btn-back-add:hover {
    background-color: var(--tertiary-color-2) !important; 
}