body {
  margin: 0;
  font-family: 'Roboto', -apple-system, 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: #6828c1;
  --secondary-color: #9c27b0 ;
  --secondary-color2: #6c2db1 ;
  --tertiary-color-1: #8756bb;
  --tertiary-color-2: #ded3eb;
}